<mat-toolbar>
  <span  style="text-align: center; width: 100%;">Consulta de Triangem - Cadastro Paciente {{ acao }}</span>
</mat-toolbar>
<h1>Valid: {{pacienteFormGroup.valid}}</h1>
<h1>Valid: {{pacienteFormGroup.errors}}</h1>
<form [formGroup]="pacienteFormGroup">
  <mat-form-field>
    <input formControlName="ses" matInput type="number" placeholder="SES">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input formControlName="nome" matInput type="text" placeholder="Nome">
  </mat-form-field>
  <div style="padding-bottom: 10px">
    <label>Sexo </label>
    <mat-radio-group formControlName="sexo">
      <mat-radio-button value="f" style="padding-left: 10px">Feminino</mat-radio-button>
      <mat-radio-button value="m" style="padding-left: 10px">Masculino</mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-form-field>
    <input matInput [matDatepicker]="dataNascimentoPicker" placeholder="Data de Nascimento" 
      formControlName="dataNascimento">
    <mat-datepicker-toggle matSuffix [for]="dataNascimentoPicker"></mat-datepicker-toggle>
    <mat-datepicker #dataNascimentoPicker ></mat-datepicker>
  </mat-form-field>
  <div style="padding-bottom: 10px">
    <label>Estado Civil </label>
    <mat-radio-group formControlName="estadoCivil">
      <mat-radio-button value="0" style="padding-left: 10px">Casado</mat-radio-button>
      <mat-radio-button value="1" style="padding-left: 10px">Divorciado</mat-radio-button>
      <mat-radio-button value="2" style="padding-left: 10px">Separado</mat-radio-button>
      <mat-radio-button value="3" style="padding-left: 10px">Solteiro</mat-radio-button>
      <mat-radio-button value="4" style="padding-left: 10px">UniaoEstavel</mat-radio-button>
      <mat-radio-button value="5" style="padding-left: 10px">Viuvo</mat-radio-button>
    </mat-radio-group>
  </div>
   <div style="padding-bottom: 10px">
    <label>Nacionalidade </label>
    <mat-radio-group formControlName="nacionalidade">
      <mat-radio-button value="0" style="padding-left: 10px">Brasileira</mat-radio-button>
      <mat-radio-button value="1" style="padding-left: 10px">Estrangeira</mat-radio-button>
      <mat-radio-button value="2" style="padding-left: 10px">Naturalizado</mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-form-field>
    <textarea formControlName="endereco" matInput  rows="4" cols="50" placeholder="Endereço"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input formControlName="telefoneCelularPessoal" matInput type="tel"  placeholder="Telefone Celular Pessoal" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input formControlName="telefoneCelularContato" matInput type="tel"  placeholder="Telefone Celular Contato" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input formControlName="telefoneFixo" matInput type="tel" placeholder="Telefone Fixo" >
  </mat-form-field>
  <br>
  <mat-form-field>
    <input  formControlName="profissao" matInput type="text" placeholder="Profissão">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input formControlName="nomePai" matInput type="text" placeholder="Nome Pai">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input formControlName="nomeMae" matInput type="text" maxlength="250" placeholder="Nome Mãe">
  </mat-form-field>
  <br>
  <mat-checkbox formControlName="orfao">Órfão</mat-checkbox>
  <br>
  <mat-form-field>
    <input matInput type="datetime" placeholder="Data Última Atualização" readonly 
      formControlName="timestamp">
    <mat-datepicker #timestampPicker ></mat-datepicker>
  </mat-form-field>
  <br>
  <button mat-button (click)="salvar()"><mat-icon style="font-size: 50px">save</mat-icon></button>
</form>