<mat-toolbar>
  <span  style="text-align: center; width: 100%;">Consulta de Acolhimento - Acolhimento</span>
</mat-toolbar>
<mat-card>
  <mat-card-title>Paciente</mat-card-title>
  <mat-grid-list cols="3"rowHeight="50">
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        Nome: {{ paciente?.nome }} 
    </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        Sexo: {{ paciente?.sexo === 'f' ? 'Feminino': 'Maculino' }}
    </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        Data de Nascimento: {{ paciente?.dataNascimento | date: 'dd/MM/yyyy'}}
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<mat-card>
  <mat-card-title>Responda as Perguntas Abaixo</mat-card-title>
  <mat-card-subtitle>1)</mat-card-subtitle>
    <table style="width:95%">
      <tr>
        <th style="width:60%">Pergunta</th>
        <th style="width:20%"></th>
        <th style="width:20%"></th>
      </tr>
      <tr>
        <td>Pergunta</td>
        <td>
          <mat-radio-button value="false" style="padding-left: 10px">Não</mat-radio-button>
        </td>
        <td>
          <mat-radio-button value="true" style="padding-left: 10px">Sim</mat-radio-button>
        </td>
      </tr>
    </table>
  <mat-card-subtitle>2) Aparelho Cardiovascular</mat-card-subtitle>
  <mat-card-subtitle>2) Aparelho Respiratório</mat-card-subtitle>
</mat-card>
<